* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Creepster;
}

body {
    background-image: url("images/tykva.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(44, 31, 63);
    padding: 40px 60px;
    border-radius: 10px;
}

h2 {
    font-size: 3em;
    color: rgb(128, 66, 33);
    text-transform: uppercase;
    letter-spacing: 0.lem;
}

.reset {
    border-radius: 10px;
    padding: 15px 20px;
    color: rgb(27, 75, 26);
    background: gray;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;

}

.reset:focus {
    color: gray;
    background: rgb(27, 75, 26);
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    border-radius: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background: rgb(80, 10, 10);
    transform: rotateY(180deg);
    transition: 0.25s;
    color: black;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item:after {
    border-radius: 10px;
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(54, 0, 0);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after ,
.boxMatch::after {
    transform: rotateY(180deg);
}