body {
    background-color: #222;
    color: #7e604d;
}

h2 {
    font-size: 35px;
    text-align: center;
    width: fit-content;
    padding: 0px 600px
}

#grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#grid-container div {
    border-style: solid;
    border-color: rgb(91, 91, 91);
    border-width: 2px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgba(109, 16, 16, 0.108);
}

img {
    width: 270px;
    height: 200px;
    cursor: pointer;
}

h1 {
    margin: 0px;
    text-align: center;
    color: #7e604d;
}

a {
    text-decoration: none;    
}

