* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

body {
    margin: 0;
    background-color: #0a1223;
    color: #fff;
}

header {
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #c0c0c0;
    transition: color 0.4s ease;
}

nav ul li a:hover {
    color: #54597d;
}

a, a:link, a:active, a:visited {
    color: #5d5d5d;
    text-decoration: none;
    font-weight: 400;
    padding: 20px;
}

a:hover {
    color: #54597d;
}


.facts {
    color: #ddd;
    font-size: 40px;
}





.info {
    padding: 100px 200px;
}

.reverse-flex>div {
    flex: 1;
}

.flex>div {
    flex: 1;
}


.reverse-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}


.planets {
    display: flex;
    align-items: center;
}

.images {
    height: 250px;
}

.title {
    font-size: 40px;
    background: linear-gradient(to right, white 0%, rgb(49, 49, 49) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    color: #5d5d5d;
    text-indent: 20px;
    text-align: justify;
}

.butt {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .facts {
        font-size: 35px;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    h1 {
        margin: 100px 60px 0px 60px;
        display: inline-block;
    }
    
    .reverse-flex {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .flex {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .planets {
        display: flex;
        justify-content: center;
    }

    .butt {
        display: none;
    }
}



@media screen and (min-width: 320px) and (max-width: 767px) {
    
    body {
        background-color: white !important;
    }

    header {
        padding-top: 20px;
    }

    nav {
        display: flex;
        justify-content: left;
    }
    
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        font-size: larger;
        width: -webkit-fill-available;
    }

    nav ul li a {
        color: #c0c0c0;
        transition: color 0.4s ease;
    }
    
    nav ul li a:hover {
        color: #54597d;
        font-weight: bold;
    }

    .bord {
        border-bottom: 2px lightgray solid;
        width: -webkit-fill-available;
        text-align: start;
        padding-bottom: 20px;
    }

    h1 {
        color: black;
    }

    .info {
        padding: 100px 100px;
    }

    .title {
        -webkit-text-fill-color: #484747
    }

    .images {
        height: 180px;
    }

    .reverse-flex {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .flex {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .planets {
        display: flex;
        justify-content: center;
    }

    .butt {
        padding: 20px;
        display: flex;
        justify-content: end;
    }

    .up {
        border-radius: 50%;
        border: none;
        background-color: #5ebcff;
        cursor: pointer;
        font-size: large;
        box-shadow: 10px 10px 10px lightgray;
    }

    .up a {
        color: white;
        display: flex;
    }
}