* {
    margin: 0;
    padding: 0;
}

.header-img {
    background: url("museum picture/mobilep1.jpg") center no-repeat;
    background-size: cover;
    height: 375px;
}

header>a {
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .header-img {
        height: 900px;
    }
}